* {
    max-width: 700px;
    margin: auto;
}
.content
{
    max-width:700px;
    margin:auto;
    text-align:justify;
    color:black;
    font-family:Verdana;
    font-size:20px;
    border:none;
}

td {
    text-align: left;
    font-size: 20px;
}